
.student-form{
    width: 369px;
    height: 423px;
    border-radius: 8px;
    background: #F2F4FF;
    margin-left: 62px;
}

.btn{
    display: flex;
    width: 297px;
    height: 42px;
    padding: 8px 15px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 16px;
    border-radius: 8px;
    background: #2C3F66;
    border: none;
    margin-top: 40px;
    margin-left: 38px;
    font-weight: 600;
}

label{
    color: #333;
    font-size: 16px;
    font-weight: 600;
    margin-top: 31px;
    margin-bottom: 10px;
}

.form-row{
    display: flex;
    flex-direction: column;
    margin-left: 33px;
}

input{
    display: flex;
    height: 42px;
    padding: 8px 15px;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background: #FFF;
    border: none;
    width: 300px;
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px;
    background-color: #436AAF;
    color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .close-btn {
    background-color: white;
    color: #5C6B8A;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
  }